{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
<section class="page-catalogue">
        <h2>Catalogue</h2>
        <section class="contenu-catalogue">
            <nav class="nav-catalogue">
                <ul>
                    <li><a href="#">Pains</a></li>
                    <li><a href="#">Foccacia</a></li>
                    <li><a href="#">Viennoiseries</a></li>
                    <li><a href="#">Bloomers</a></li>
                    <li><a href="#">Gâteaux</a></li>
                    <li><a href="#">Biscuits</a></li>
                    <li><a href="#">Créations saisonnières</a></li>
                    <li><a href="#">Et autres...</a></li>
                </ul>
            </nav>
            <!--<section class="produits">-->
                <div class="grid">
                <!--<ul class="grid">-->
            <?php
            error_reporting(E_ALL);
            $requeteSQL =
<<<CODESQL
SELECT *
FROM produits
WHERE categorie = '1'
ORDER BY produit
CODESQL;
            $afficherProduits = connexionBDD($requeteSQL, []);
            foreach($afficherProduits as $element) {
                // debug
                /*echo "<pre>";
                print_r($element);
                echo "</pre>";*/
                $element = array_map("htmlentities", $element);
                extract($element);
                // $description = mb_strimwidth($description, 0, 50, '... ').'<a href="template-produit.php?idproduit=' . $idproduit . '"></a>';
                echo
    <<<CODEHTML
    <figure class="effect-winston">
        <img src="$photo" alt="">
        <figcaption>
            <h2>$produit</h2>
            <p>Liste allergènes</p>
        </figcaption>
    </figure>
    CODEHTML;
            }
            ?>
                <!--</ul>-->
                </div>
            </section>
        </section>
    </section
{% endblock %}