{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/intro.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Boulangerie Maison Saint-Honoré{% endblock %}

{% block body %}
<section>
    <div class="mshnb"></div>
    <div class="boutique"></div>
    <video src="{{ asset('img/IMG_8957.mov') }}"></video>></video>
</section>
<a href="./accueil">accueil</a>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/intro.js') }}"></script>
{% endblock %}