{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/intro.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Boulangerie Maison Saint-Honoré{% endblock %}

{% block body %}
<section>
    <div class="mshnb"></div>
    <div class="boutique"></div>
    <video id="bg-video" autoplay>
        <source src="{{ asset('videos/intro.webm') }}" type="video/webm">
        <source src="{{ asset('videos/intro.mp4') }}" type="video/mp4">
        <p class="ko">Votre navigateur ne supporte pas les vidéos HTML5 au format WebM avec VP8 ni au format MP4, veuillez mettre à jour votre navigateur ou télécharger Chrome ou Firefox<p>
    </video>
</section>
<a href="./accueil">accueil</a>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/intro.js') }}"></script>
{% endblock %}