body {
    background-color: black;
}

.mshnb,.boutique{
    display: none;
    background-size: cover;
    background-position: center;
    position: absolute;
    border:none;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 51px 39px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 51px 39px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 51px 39px rgba(0,0,0,1);
}
.mshnb {
    background-image: url("../img/mshnb.jpg");
    left: 950px;
    top: 10px;
    width: 750px;
    height: 750px;
}

.boutique {
    background-image: url("../img/boutique.jpg");
    left: 150px;
    top: 300px;
    width: 480px;
    height: 480px;
}

video {
    position: absolute;
    left: 700px;
    top: 380px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}