/* ------------------- box-sizing ------------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ------------------- GLOBAL ------------------- */
body {
	width: 100%;
	font-family: 'Barlow Condensed', sans-serif;
	margin: 10px;
	color: #5F677D;
}

/* polices que j'aime bien pour les h2 et sous-titres : Google fonts:
	font-family: 'Cabin Sketch', cursive; OUI
	font-family: 'Clicker Script', cursive; OUI
	font-family: 'Cookie', cursive; OUI
	font-family: 'Dancing Script', cursive; OUI
	font-family: 'Fredericka the Great', cursive; OUI
	font-family: 'Rochester', cursive; OUI
	font-family: 'Sofia', cursive; OUI
	font-family: 'Stalemate', cursive; OUI
	font-family: 'Vibur', cursive; OUI
*/
a{
	text-decoration: none;
	color: #5F677D;
}
h2 {
	font-size: 2.5em;
	font-family: 'Cookie', cursive;
	font-weight: normal;
	margin: 20px;
}

h3 {
	font-family: 'Cookie', cursive;
	font-size: 1.5em;
}

main {
	width: 85%;
}

/* ------------------- LOGO ------------------- */
header {
	/* positionné à droite : contient le logo */
	width: 200px;
	height: 100%;
	position: fixed;
	left: 87%;
}

.logo {
	padding: 15px;
	text-transform: uppercase;
	font-size: 1em;
	z-index: 500 !important;
}

.logo p {
	margin: 0;
}

.incline {
	writing-mode: vertical-rl;
  	text-orientation: sideways;
	transform: rotate(-180deg);
	font-size: 4.5em;
	text-align: left;
	letter-spacing: 7px;
}

.logo-pierre {
	width: 160px;
	text-align: center;
	font-size: 0.9em;
}

.social {
	margin: 5px 0;
	text-align: center;
}

.social i {
	font-size: 2em;
	margin: 10px;
	color: #F26D31;
}


/* en-tête avec image */
.entete {
	width: 100%;
}

.entete img {
	width: 100%;
	height: 1000px;
	object-fit: cover;
}


/* ------------------- NAVIGATION ------------------- */
.nav-principal .fa {
	font-size: 0.7em;
}

.nav-principal ul {
	font-family: 'Dancing Script', cursive;
	font-size: 1.5em;
	border: 1px lightgrey solid;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px 0;
	margin-top: 0;
}

.nav-principal li {
	margin: 10px 0;
	list-style-type: none;
}

.nav-principal a {
	font-size: 1.3em;
	transition: 0.3s ease;
}

.nav-principal a:hover {
	color: #F26D31;
	border-top: 3px solid #F26D31;
	border-bottom: 3px solid #F26D31;
	padding: 3px 0;
}

/* -------------------  page accueil : main ------------------- */
.container section {
	padding: 15px;
	transition: 0.5s ease;
}

.maison:hover,
.catalogue:hover,
.bloc-adresses:hover,
.formulaire:hover {
	box-shadow: 0 0 10px grey;
}

.maison:hover h2,
.catalogue:hover h2,
.bloc-adresses:hover h2,
.formulaire:hover h2{
	color: #F26D31;
}


/* ------------------- page accueil : bloc maison catalogue ------------------- */
.bloc-maison-catalogue {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.maison {
	width: 45%;
	align-items: center;
	border: 1px solid lightgrey;
	border-radius: 10px;
	text-align: center;
}

.maison-contenu .photo-maison {
	background: url('../img/Pierre_RAGOT ©CMAR PACA - Patrice Terraz.jpg') no-repeat;
	background-size: contain;
	background-position: center;
	height: 160px;
	margin: 10px;
}

.maison-contenu i {
	font-size: 1.5em;
	color: #F26D31;
	transition: 0.3s ease;
}

.maison-contenu i:hover {
	color: white;
	background-color: #F26D31;
}

.catalogue {
	display: flex;
	flex-direction: column;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 10px;
	width: 45%;
}
.catalogue ul {
	width: 80%;
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.catalogue a {
	width: 120px;
	height: 120px;
	border: 1px solid rgba(242, 109, 49, 0.2);
	border-radius: 50%;
	text-align: center;
	line-height: 115px;
	box-shadow: 0px 0px 5px #F26D31;
	transition: all 0.5s ease;
	margin: 5px auto;
}

.catalogue a:hover {
	/* background-color: rgba(242, 109, 49, 0.2); */
	color: white;
	background: url("../img/produits/pichard.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

/* -------------------  page accueil - flexslider ------------------- */
.slider {
	width: 90%;
	margin: 0 auto;
}

.flexslider {
	/*border: 2px red solid;*/
}

.slides li {
	width: 200px;
	height: 200px;
}

.slides img {
	height: 250px;
	object-fit: cover;
	overflow: hidden;
}

/* -------------------  page accueil : bloc adresses + formulaire ------------------- */
.bloc-adresses-contact {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.bloc-adresses {
	width: 40% !important;
	display: flex;
	flex-direction: column;
	border: 1px solid lightgrey;
	border-radius: 10px;
	text-align: center;
}

.boutique {
	background: url('../img/boutique.jpg') no-repeat;
	background-size: contain;
	background-position: center;
	margin: 0 auto;
	height: 150px;
	width: 150px;
}

.bloc-adresses span {
	text-decoration: underline;
}

.bloc-adresses i {
	font-size: 1.5em;
	color: #F26D31;
	transition: 0.3s ease;
}

.bloc-adresses i:hover {
	color: white;
	background-color: #F26D31;
}


/* -------------------  page accueil : formulaire contact & abonnement newsletter ------------------- */
.formulaire {
	width: 45%;
	display: flex;
	flex-direction: column;
	border: 1px solid lightgrey;
	border-radius: 10px;
}

.formulaire h2 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
}

form input {
	padding: 5px;
	margin: 15px;
}

form textarea {
	padding: 5px;
}

form button {
	border: 0;
	color: #F26D31;
	background-color: transparent;
	padding: 5px;
	transition: 0.3s ease;
}

form button:hover {
	color: #F26D31;
	border-top: 3px solid #F26D31;
	border-bottom: 3px solid #F26D31;
}

/* -------------------  PAGE savoir-faire ------------------- */
.savoirfaire {
	width: 100%;
	margin: 0 auto;
}

.savoirfaire h3 {
	font-size: 2em;
}

.savoirfaire h2 {
	text-align: center;
}

.savoirfaire article {
	margin: 50px 0;
}

.savoirfaire section {
	margin: 0 auto;
	width: 70%;
}

.savoirfaire i {
	font-size: 1.5em;
	color: #F26D31;
	transition: 0.3s ease;
}

.savoirfaire i:hover {
	color: white;
	background-color: #F26D31;
}

.article1 {
	background: url('../img/mains.jpg') no-repeat;
	background-position: left;
	background-size: contain;
	display: flex;
	flex-direction: row;
	text-align: left;
}

.article2 {
	text-align: right;
}

.article2 span {
	font-weight: bold;
}

.presse {
	text-align: left;
}


/* -------------------  PAGE catalogue ------------------- */
.page-catalogue h2 {
	width: 100%;
	text-align: center;
}

.contenu-catalogue {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.nav-catalogue {

}

.contenu-catalogue ul {
	font-size: 1.2em;
	list-style-type: none;
}

.contenu-catalogue li {
	font-family: 'Dancing Script', cursive;
	font-size: 1.6em;
	margin: 30px 0;
	width: 290px;
}

/* Affichage CSS avancé */
/* http://epicadesign.fr/demos/HoverEffectImg/index.html */
*, *:after, *:before {
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
} /* required*/

.grid {
	/* mon code */
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* code initial */
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	/* max-width: 1000px; */
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 240px;
	max-width: 400px;
	max-height: 280px;
	width: 45%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	/* text-transform: lowercase; */
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	/* word-spacing: -0.15em; */
	font-weight: 300;
	text-shadow: 1px 1px 2px black;
}

/* .grid figure h2 span {
	font-weight: 800;
} */

.grid figure h2,
.grid figure p {
	margin: 0;
}

/* circle + dans triangle */
.grid figure p {
	letter-spacing: 1px;
	/* font-size: 68.5%; */
	text-shadow: 1px 1px 2px black;
}

figure.effect-winston{
	/* background:#162633; */
	background:#5F677D;
	text-align:left
}
 figure.effect-winston img{
 	-webkit-transition:opacity .45s;
 	transition:opacity .45s;
 	-webkit-backface-visibility:hidden;
 	backface-visibility:hidden
 }
 figure.effect-winston figcaption::before{
 	position:absolute;
 	top:0;
 	left:0;
 	width:100%;
 	height:100%;
 	background:url("../img/triangle.svg") no-repeat center center;
 	background-size:100% 100%;
 	content:'';
 	-webkit-transition:opacity .45s,-webkit-transform .45s;
 	transition:opacity .45s,transform .45s;
 	-webkit-transform:rotate3d(0,0,1,45deg);
 	transform:rotate3d(0,0,1,45deg);
 	-webkit-transform-origin:0 100%;
 	transform-origin:0 100%
 }
 figure.effect-winston h2{
 	-webkit-transition:-webkit-transform .35s;
 	transition:transform .35s;
 	-webkit-transform:translate3d(0,20px,0);
 	transform:translate3d(0,20px,0)
 }

 figure.effect-winston p{
 	position:absolute;
 	right:0;
 	bottom:0;
 	padding:0 1.5em 7% 0
 }

 figure.effect-winston a{
 	margin:0 10px;
 	color:#cc6055;
 	font-size:170%
 }
 figure.effect-winston a:hover,
 figure.effect-winston a:focus{
 	color:#5d504f
 }
 figure.effect-winston p a i{
 	opacity:0;
 	-webkit-transition:opacity .35s,-webkit-transform .35s;
 	transition:opacity .35s,transform .35s;
 	-webkit-transform:translate3d(0,50px,0);
 	transform:translate3d(0,50px,0)
 }
 figure.effect-winston:hover img{
 	opacity:.5
 }
 figure.effect-winston:hover h2{
 	-webkit-transform:translate3d(0,0,0);
 	transform:translate3d(0,0,0)
 }
 figure.effect-winston:hover figcaption::before{
 	opacity:.7;
 	-webkit-transform:rotate3d(0,0,1,20deg);
 	transform:rotate3d(0,0,1,20deg)
 }

 figure.effect-winston:hover p i{
 	opacity:1;
 	-webkit-transform:translate3d(0,0,0);
 	transform:translate3d(0,0,0)
 }
 figure.effect-winston:hover p a:nth-child(3) i{
 	-webkit-transition-delay:.05s;
 	transition-delay:.05s
 }
 figure.effect-winston:hover p a:nth-child(2) i{
 	-webkit-transition-delay:.1s;
 	transition-delay:.1s
 }
 figure.effect-winston:hover p a:first-child i{
 	-webkit-transition-delay:.15s;
 	transition-delay:.15s
 }
/* fin css avancé */

/* ------------------- PAGE Adresses ------------------- */
.page-adresses {
	width: 100%;
}

.page-adresses h2 {
	text-align: center;
	margin: 0 auto;
}

.adresses {
	display: flex;
	flex-direction: row;
}

.adresses ul {
	width: 70%;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding-left: 10px;
}

.categorie {
	background-color: rgba(95, 103, 125, 0.6);
	padding: 10px;
}

.adresses span {
	color:  #F26D31;
	font-weight: bold;
}

.adresses li {
	padding-left: 10px;
}


/*
.adresses article {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 15px;
	transition: 0.5s ease;
	margin: 0 15px;
} */



/* ------------------- FOOTER ------------------- */
footer {
	width: 85%;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px;
	border: 1px solid red;
}

.nav-admin {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.nav-admin a {
	font-size: 0.8em;
	margin: 20px;
}

footer p {
	text-transform: uppercase;
	font-size: 0.8em;
	border: 1px solid red;
}

.logos {
	display: block;
}

.logos img {
	width: 5%;
	object-fit: contain;
	border: 1px solid red;
}


/* ------------------- PAGE Savoir-faire - lightbox/carousel ------------------- */
.carousel {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 500px;
    display: none;
    padding: 50px;
}

.carousel img {
    max-width: 800px;
}


