{% block title %}Page Admin{% endblock %}

{% block body %}
Ici on affichera la page admin.
Mais faut un mot de passe pour se connecter.
<nav>
    <ul>
        <li><a href="./admin/ajouter-produit">Ajouter un nouveau produit</a></li>
        <li><a href="./admin/modifier-produit">Modifier un produit existant</a></li>
        <li><a href="./admin/envoyer-newsletter">Envoyer une newsletter</a></li>
        <li><a href="./admin/modifier-boutique">Modifier nos boutiques</a></li>
    </ul>
</nav>