{% extends 'admin.html.twig' %}

<!-- ceci marchait normalement avant mais ce n'est pas du twig -->
<form method="POST">
        <fieldset>
            <legend><strong>Ajouter un nouveau produit</strong></legend>
            <input type="text" name="produit" placeholder="Nouveau produit">
            <select name="categorie">
                <option value="1" name="categorie[]">Pain</option>
                <option value="2" name="categorie[]">Viennoiserie</option>
                <option value="3" name="categorie[]">Cake</option>
            </select><br />
            <input type="checkbox" value="1" name="allergene[]"><img class="allergene" src="./assets/images/allerges/arachides.png" alt="Allerges arachides">
            <input type="checkbox" value="2" name="allergene[]"><img class="allergene" src="./assets/images/allerges/avoines.png" alt="Allerges avoines">
            <input type="checkbox" value="3" name="allergene[]"><img class="allergene" src="./assets/images/allerges/cereales.png" alt="Allerges cereales">
            <input type="checkbox" value="4" name="allergene[]"><img class="allergene" src="./assets/images/allerges/crustaces.png" alt="Allerges crustaces">
            <input type="checkbox" value="5" name="allergene[]"><img class="allergene" src="./assets/images/allerges/lactose.png" alt="Allerges lactose">
            <input type="checkbox" value="6" name="allergene[]"><img class="allergene" src="./assets/images/allerges/mais.png" alt="Allerges mais">
            <input type="checkbox" value="7" name="allergene[]"><img class="allergene" src="./assets/images/allerges/nogluten.png" alt="Allerges sans gluten">
            <input type="checkbox" value="8" name="allergene[]"><img class="allergene" src="./assets/images/allerges/noix.png" alt="Allerges noix">
            <input type="checkbox" value="9" name="allergene[]"><img class="allergene" src="./assets/images/allerges/oeufs.png" alt="Allerges oeufs">
            <input type="checkbox" value="10" name="allergene[]"><img class="allergene" src="./assets/images/allerges/poissons.png" alt="Allerges poissons">
            <input type="checkbox" value="11" name="allergene[]"><img class="allergene" src="./assets/images/allerges/sesames.png" alt="Allerges sesames">
            <input type="checkbox" value="12" name="allergene[]"><img class="allergene" src="./assets/images/allerges/sojas.png" alt="Allerges sojas"><br />
            <input type="file"><br />
            <button type="submit" name="submit" value="submit">Valider</button>
<?php
if (isset($_REQUEST["submit"]) && ($_REQUEST["submit"] == "submit"))
{
    $allergenes = $_POST["allergene"];
    $categories = $_POST["categorie"];
    foreach ($allergenes as $allergene){
        $sql = $db->prepare("INSERT INTO allergenes (allergene) VALUE (:allergene)");
        $sql->execute([":allergene" => htmlentities($allergene)]);
    }
    foreach ($categories as $cat){
        $sql = $db->prepare("INSERT INTO categories (cat) VALUE (:cat)");
        $sql->execute([":cat" => htmlentities($cat)]);
    }
}
?>
        </fieldset>
    </form>