<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Admin Page{% endblock %}</title>
    {% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}
    </head>
    <body>
        <header><h1></h1></h1>Page Admin<h1></header>
        {% block body %}{% endblock %}
        <footer>
            Maison Saint-Honoré &copy; 2011-2017
        </footer>
        {% block javascripts %}
        <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>